@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.login-bg {
  background-image: url('/login-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-bg {
  background-image: url('/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px) saturate(0.8);
  -webkit-backdrop-filter: blur(2px) saturate(0.8);
}

.login-card {
  max-width: 500px;
  width: 500px;
  height: fit-content;
  height: -moz-fit-content;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.main-card {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.bg-error-trans {
  background-color: rgba(251, 228, 236, 0.1);
  backdrop-filter: blur(3px);
}

.bg-info-trans {
  background-color: rgba(223, 242, 241, 0.1);
  backdrop-filter: blur(3px);
}

.slide-x-transition-enter-active,
.slide-x-transition-leave-active {
  transition: 0.3s cubic-bezier(.25, .8, .50, 1);
}

.slide-x-transition-enter-from,
.slide-x-transition-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
