.q-btn .q-icon {
  font-size: 1.3em;
}

.login-bg {
  background-image: url('/login-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-bg {
  background-image: url('/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.login-card {
  max-width: 500px;
  width: 500px;
  height: fit-content;
  margin-top: 8em;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.main-card {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.bg-error-trans {
  background-color: rgba(251, 228, 236, 0.1);
  backdrop-filter: blur(3px);
}

.bg-info-trans {
  background-color: rgba(223, 242, 241, 0.1);
  backdrop-filter: blur(3px);
}
